@page
@model Hooking.Areas.Identity.Pages.Account.Manage.BoatReservationsHistoryModel
@{
    ViewData["Title"] = "Istorija rezervacija";
    ViewData["ActivePage"] = ManageNavPages.BoatReservationsHistory;
}
@{ 
    List<string> boatNames = (List<string>)ViewData["BoatNames"];
    var index = 0;
}
<h4>Istorija rezervacija</h4>
<table class="table">
    <thead>
        <tr>

            <th>
                Naziv vikendice
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Cena
            </th>
            <th>
                Broj osoba
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.boatReservations)
        {
        <tr>
            <th>
                @boatNames[index]
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonCount)
            </td>
            <td>
                <a href="@Url.Action("Create", "BoatAppeals", new { Id = @item.BoatId })">Prilozi zalbu</a>
            </td>
            <td>
                @if (!item.IsReviewed)
                {
                    <a href="@Url.Action("Create", "BoatReservationReviews", new { Id = @item.Id })">Recenzija</a>
                }
                <a href="@Url.Action("Details", "BoatReservations", new { Id = @item.Id })">Prikaži još</a>
            </td>
            @{
                index++;
            }
        </tr>
        }
    </tbody>
</table>


