@page
@model Hooking.Areas.Identity.Pages.Account.Manage.BoatReservationsHistoryModel
@{
    ViewData["Title"] = "Istorija rezervacija brodova";
    ViewData["ActivePage"] = ManageNavPages.BoatReservationHistory;
}
<table class="table">
    <thead>
        <tr>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Cena
            </th>
            <th>
                Max broj osoba
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.myBoatReservations)
        {
            @if (DateTime.Compare(item.StartDate, DateTime.Now) < 0)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonCount)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Prilozi zalbu</a>
                        <a href="@Url.Action("Details", "BoatReservations", new { Id = @item.Id })">Prikazi vise</a>

                    </td>


                </tr>
            }
        }
    </tbody>
</table>