@page
@model Hooking.Areas.Identity.Pages.Account.Manage.BoatReservationsHistoryModel
@{
    ViewData["Title"] = "Istorija rezervacija";
    ViewData["ActivePage"] = ManageNavPages.BoatReservationsHistory;
}
@inject SignInManager<IdentityUser> SignInManager

@using Hooking.Models;
@{
    List<string> boatNames = (List<string>)ViewData["BoatNames"];
    List<BoatOwner> boatOwners = (List<BoatOwner>)ViewData["BoatOwners"];

    var index = 0;
}
<h4>Istorija rezervacija brodova</h4>
<table class="table">
    <thead>
        <tr>

            <th>
                Naziv broda
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Cena
            </th>
            <th>
                Broj osoba
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.boatReservations)
        {
            <tr>
                <th>
                    @boatNames[index]
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonCount)
                </td>
                <td>
                    @if (!item.IsReviewed)
                    {
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (!User.IsInRole("Korisnik"))
                            {
                                <a href="@Url.Action("Create", "BoatReservationReviews", new { Id = @item.Id  })">Recenzija</a>

                            }
                        }
                        <a href="@Url.Action("Create", "BoatReviews", new { Id = @item.BoatId ,boatOwnerId = @boatOwners[index].Id })">Recenzija</a>
                        <a href="@Url.Action("Create", "BoatAppeals", new { Id = @item.BoatId , boatOwnerId = @boatOwners[index].Id })">Prilozi zalbu</a>

                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (!User.IsInRole("Korisnik"))
                        {
                            <a href="@Url.Action("Details", "BoatReservations", new { Id = @item.Id })">Prikaži još</a>

                        }
                    }
                </td>
                @{
                    index++;
                }
            </tr>
        }
    </tbody>
</table>


