@model Hooking.Models.Boat

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši brod</h1>

<h3>Da li zaista želite da pošaljete zahtev za uklanjanje broda iz ponude?</h3>
<div>
    <h4>Boat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.CancelationPolicyId)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.CancelationPolicyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegularPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegularPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendPrice)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Pošalji zahtev za brisanje broda" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak na pregled brodova</a>
    </form>
</div>
